{{!-- Home World --}}

{{#each articles}}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9">
                <h5 class="card-title"><a target="_blank" href="articles/{{this._id}}">"{{this.title}}</a></h5>
                {{!-- <p class="card-text">This is where the review goes.</p> --}}
                <a href="#" class="btn btn-success">I Wanna Huff</a>
                <a href="#" class="btn btn-warning">Make A Note</a>
                <a href="#" class="btn btn-info">View all Notes</a>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalCenter{{this._id}}">
                    View All Notes
                </button>
                {{!-- <a href="#" class="btn btn-primary">Make a Note</a> --}}
            </div>
        </div>
        {{!-- local modal for notes dialog --}}
        <div class="modal fade" id="exampleModalCenter{{this._id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- <a target="_blank" href="articles/{{this._id}}">"{{this.title}}</a></br> --}}

{{/each}} {{#unless articles.length}}
<p>No Articles Found</p>
{{/unless}}