{{!-- Home World --}}

{{#each articles}}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9">
                <h5 class="card-title"><a target="_blank" href="articles/{{this._id}}">"{{this.title}}</a></h5>
                {{!-- <p class="card-text">This is where the review goes.</p> --}}
                <a href="#" class="btn btn-success">I Wanna Huff That</a>
                <a href="#" class="btn btn-warning">Make A Note</a>
                <a href="#" class="btn btn-info">View all Notes</a>
                <div class="hidden" id="notes{{this._id}}"></div>
            </div>
        </div>
        {{!-- psuedo modal for notes dialog --}}

    </div>
</div>


{{!-- <a target="_blank" href="articles/{{this._id}}">"{{this.title}}</a></br> --}}

{{/each}} {{#unless articles.length}}
<p>No Articles Found</p>
{{/unless}}